<div>
    <div>
        <input type="email" placeholder="Write email" id="email">
        <button id="callButton">Call</button>
    </div>
    <div id="outgoingCall"></div>
    <div id="incomingCall"></div>
</div>
<script src="/bundle/calls.js"></script>