<div style="margin-top:100px; padding:20px;" class="container-fluid col-sm-6">
    <h3 style="">Chat</h3>
    <div id="message-container"></div>
    <form style="padding-top: 20px;" id="send-container">
        
    </form>
</div>