<h1 class="mt-4">Dashboard</h1>
{{> messages}}
<p class="lead mb-3">Welcome {{user.name}}</p>
<a href="/dashboard/patient-form" class="btn btn-secondary">Patient Form</a>
<a href="/chat" class="btn btn-secondary">Chat</a>
<a href="/calls" class="btn btn-secondary">Calls</a>
<a href="/user/logout" class="btn btn-secondary">Logout</a>