<div <div style="margin-top:100px; padding:20px;" class="container-fluid col-xs-12 col-sm-8 col-md-8 col-lg-5">
    <form action="/database/{{ link }}" method="POST" style="padding-top: 20px;">
        <input name="password" type="password" class="form-control" placeholder="Enter Password">
    </form>
</div>