<div class="cover">
    <div class="title">
        <h1 style="color: #feb236;"><strong>Silicosis Telemedicine Data Collection Portal</strong></h1>
        <p><a class="btn btn-light btn-sm" href="user/login">Login</a></p>
        <p><a class="btn btn-light btn-sm" href="user/login">Register</a></p>
    </div>
    <div class="powered col-sm-12">
        Powered by <a style="color: #FC7307;" href="http://www.iitj.ac.in" target="_blank">IIT Jodhpur</a><br>
        <p>Developed by <a style="color: #feb236;" href="https://github.com/ashuy280" target="_blank">Ashutosh Yadav</a> and <a style="color: #feb236;" href="https://github.com/b16cs006" target="_blank">Chetan Prakash Meena</a></p>
    </div>
</div>
<style>
    .cover{
        opacity: 1;
        margin: auto;
        background-image: url('http://fulldesktopbackgrounds.com/wp-content/uploads/2017/09/Medical-Background-2.png');
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        z-index: feb236;
    }

    .powered{
        position: absolute;
        bottom: 0px;
        padding-top: 10px;
        color: white;
    }

    .title{
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }

    .ref{

    }
</style>