<div>
    <div>
        <h1>Sirohi Silicosis Telemedicine Data Collection Portal</h1>
        {{!-- <p><a href="patient_form_fill/form.html">Patient Form</a></p> --}}
        {{!-- <p><a href="chat/chat.html">Chat</a></p> --}}
        <p><a href="user/login">Login</a></p>
        <p><a href="user/login">Register</a></p>
    </div>
    <div>
        Powered by <a href="http://www.iitj.ac.in" target="_blank">IIT Jodhpur</a><br>
        <p>Developed By: <a href="">Ashutosh Yadav</a> and <a href="">Chetan Prakash Meena</a></p>
    </div>
</div>