<div class="container-fluid col-sm-12 col-md-10 col-lg-8" id="videoChat">
    <h3 class="text-center">Chat</h3>
    <div class="row justify-content-around">
        <div id="chatStatus" class="col-sm-12" style="display: none;"></div>
        <div class="col-sm-12" style="display: none;">
            <input id="myChatID" placeholder="My ID">
            <input id="otherChatID" placeholder="Other ID">
            <button id="chatConnectButton">Connect</button>
        </div>
        <div class="col-sm-12">
            <button id="checkReply" class="btn btn-success" style="float: right; display: none; margin:10px;" disabled>Check Reply</button>
            <button id="disconnect" class="btn btn-warning" style="float: right; display: none; margin:10px;" disabled>Disconnect</button>
        </div>
        <div class="col-sm-12 col-md-10 col-lg-8" style="background-color: #f0ffff; padding: 10px; clear: both;">
            <div id="messages"></div>
            <div class="row justify-content-around">
                <input type="text" id="writeMessage" placeholder="Write message..." class="form-control col-sm-8">
                <button id="sendMessage" class="btn btn-primary col-sm-3">Send</button>
            </div>
        </div>
        <div class="col-sm-12">
            <div>
                <div id="otherVideo" class="d-flex justify-content-center">
                    {{!-- <div>Other</div> --}}
                </div>
                <div class="d-flex justify-content-center">
                    {{!-- <div>Self</div> --}}
                    <video class="embed-responsive-item" muted></video>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <input placeholder="Enter a Number..." id="formNumber">
        </div>
        <div class="col-sm-12">
            {{> patientDetails}}
        </div>
    </div>
</div>
{{!-- <script>
    var user = '{{ user }}'
</script> --}}
<script src="/bundle/chat.js"></script>
{{!-- <script src="/socket.io/socket.io.js"></script> --}}

<style>
    #messages{
        height: 300px;
        overflow: auto;
        justify-content: center;
    }

    .message{
        max-width: 60%;
        margin: 4px 4px 0px 4px;
        padding: 5px 10px 5px 10px;
        clear: both;
    }

    .myMessage{
        background-color: #b3ffb3;
        float: right;
    }

    .otherMessage{
        background-color: #b3c6ff;
        float: left;
    }

    .connection{
        background-color: #ffffb3;
        margin: auto;
        text-align: center;
    }

    .unknowMessage{
        background-color: #ffafbf;
        margin: auto;
        text-align: center;
    }
</style>